<!-- Rozszerzamy szablon nadrzędny -->
  {% extends "layout.html" %}
    <!-- Blok przeznaczony na treść w szablonie nadrzędnym layout.html -->
      {% block content -%}

      <!-- Begin page content -->
      <div class="container">
        <div class="page-header">
          <h1>PEKA Analytics</h1>
        </div>
        <p class="lead">There has been gathered bilions of data about traffic lines in Poznan. Discover the details!</p>
          <a href="http://localhost:5000/lines">View list of lines
      </div>
      {% endblock -%}